<div class='main'>
  <section class="title-container clearfix">
    <div class='pic-container'>
      <img src="<%= asset_path('kenny-huang.png') %>" class='my-face'/>
    </div>
    <section class="name-container">
      <h1 class='my-name'>KENNY HUANG</h1>
      <h4 class='by-line'>Rails/Backbone Web Developer</h4>
    </section>

  </section>


  <article id="about">
    <h3 class="title">About me</h3>
    <p>
      Hi, I'm Kenny Huang a web developer in New York,
      with background in Aerospace Engineering.
      Whether it's a rocket or a website, I'll make sure it gets launch without a hitch!
    </p>
    <p>
      I have experience in Ruby Rails, Javascript, Backbone.js and Node.js.
      I have done several projects using rails and several projects using Javascript.
      It was a pretty interesing experience building a one page website that integrate both rails and backbone at the same time.
      You should check these <strong><a href="#projcets">projects</a></strong> out!
    </p>
    <p>
      I have interest in programming automous robotic navigation, space exploration and convex optimization.
    </p>
  </article>

  <h3 class='title' id="projects">Projects</h3>
  <section class='project-container'>
    <h3><a href="http://www.reddit-clone-277.com"><strong>Reddit Clone</strong></a></h3>
    <div class='project-links'>
      <a href="https://github.com/TNHuang/Final-Project-Reddit-Clone">github</a>
    </div>
    <a href="#" class="image featured"><img class="project-img" src="<%= asset_path('reddit-clone.png') %>" /></a>
    <p class='description'>
      A reddit clone with live chat and geo location tagging build in. Built with Rails, and Backbone.js
    </p>

    <ul class='features'>
      <li>Can create, update, and destroy user, subreddits, post or comment</li>
      <li>Can votes on subreddit, post and comment</li>
      <li>Automatically scrap an thumbnail image from a submitted link</li>
      <li>Hand roll user authentication using BCrypt library</li>
      <li>Pre-fetched comments to prevent N+1 query when rendering post comments</li>
      <li>Customized recursive JSON builder partial to orangize nested comments</li>
      <li>Utilized polymorphic assoication to extend a single vote table to associate votes to either subreddit, post, or comment</li>
      <li>Multi-model search enabled using pg-search</li>
      <li>Allow live chat lobby in sub reddits index page using Pusher gem</li>
      <li>Integrate geolcation tagging with post utilize geocoder</li>
    </ul>
  </section>

  <section class='project-container'>
    <h3><a href="#">Asteroid</a></h3>
    <a href="#" ><img class="project-img" src="https://31.media.tumblr.com/70f4550c1d405782e000866bb329ed66/tumblr_inline_ndewoueXU81smaldr.png" /></a>



    <ul class='features'>
      <p>
        Asteroid is a hard game about the futility of space exploration
        Recreation the all time favorite game of the 1980 usig javascript and canvas element.
      Customized event handler allow player using keyboard to navigate the canvas element.
      Each asteroids can collide with each other, it's a classic N-body problem. Utilized bound range approximation before perform more expensive but more accuracte collusion check.
      </p>
    </ul>
  </section>

  <section class='project-container'>
    <h3><a href="#">Trello Clone</a></h3>
    <a href="#" ><img class="project-img" src="<%= asset_path('trelloClone.png') %>" /></a>
    <p>recreation of the popular goal tracking website trello uitilized using Backbone colleciton, model and JQuery UI.</p>
  </section>

  <section class='project-container'>
    <h3><a href="#">Chess</a></h3>
    <a href="#" ><img  class="project-img small" src="<%= asset_path('chess.png') %>" /></a>
    <p>Construction of chess board game utilizing ruby language</p>
  </section>

  <section class='project-container'>
      <h3><a href="#">Active Record lite</a></h3>
      <a href="#" ><img class="project-img small" src="http://guides.rubyonrails.org/images/has_many.png"/></a>
      <p>Using ruby meta programming to crate mini version of Active Record assoication and SQL Query</p>
  </section>

  <section class='project-container'>
    <h3><a href="#">Snake</a></h3>
    <a href="#"><img class="project-img small" src="<%= asset_path('snake.png') %>" alt="" /></a>
    <p>Snake remade using Jacascript and Html display</p>
  </section>


  <section class='contact-container'>
adfadf
  </section>
</div>
