<div class='main'>
  <section class="title-container clearfix">
    <div class='pic-container'>
      <img src="<%= asset_path('kenny-huang.png') %>" class='my-face'/>
    </div>
    <section class="name-container">
      <h1 class='my-name'>KENNY HUANG</h1>
      <h4 class='by-line'>Rails/Backbone Web Developer&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</h4>
      <h6 class='by-line'>
        <ul class='contacts-container'>
          <li><a href="https://github.com/TNHuang/">Github: https://github.com/TNHuang</a></li>
          <li><a href="https://www.linkedin.com/pub/tai-neng-huang/a8/54b/3">Linkedin: https://www.linkedin.com/pub/tai-neng-huang/a8/54b/3</a></li>
          <li>Email: khuangtai@gmail.com &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</li>
          <li>Mobile: 1(516)-589-1469 &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</li>
          <li>Address: 8330 118th St Apt# 4A NY 11415</li>
        </ul>
      </h6>

    </section>

  </section>


  <article id="about">
    <h3 class="title">About me</h3>
    <p>
      Hi, I'm Kenny Huang, a web developer in New York
      with background in Aerospace Engineering. <br>
      Whether it's a rocket or a website, I'll make sure it gets launched without a hitch!
      Currently looking for web development work.
    </p>
    <p>
      My primay skills includes Ruby, Rails, Javascript, Backbone.js, jQuery, Git, RSpec, SQL, HTML,
CSS, TDD, CSS, Node.js.<br><br>
      I have done several projects using these technologies. You should check these <strong><a href="#projcets">projects</a></strong> out!
    </p>
    <p>
       I have interests in autonomous robotic navigation, space exploration and convex optimization.
      <!-- write more about your interests and remember to proof read the whole page -->
    </p>
  </article>

  <h3 class='title' id="projects">Projects</h3>
  <section class='project-container clearfix'>
    <section class='left-side right-line'>
      <h3><a href="http://www.reddit-clone-277.com"><strong>Reddit Clone</strong></a></h3>

      <div class='image-container'>
          <img class="project-img small" src="<%= asset_path('reddit-clone.png') %>" />
          <a href="#reddit-modal" class='image-info hidden'>
            <span>Click for larger size</span>
          </a>
      </div>
      <p class='description'>
        A reddit clone with live chat and geo location tagging built in. Built with Rails, and Backbone.js
      </p>

      <div class='project-links clearfix'>
        <div class='icon-container-heroku'>
          <img class='github-icon-heroku icon' src="<%= asset_path('social-media-icons.png') %>" />
        </div>
        <a href="https://github.com/TNHuang/Final-Project-Reddit-Clone">github</a>
      </div>

      <div class='project-links clearfix'>
        <div class='icon-container-heroku'>
          <img class='live-icon-heroku icon' src="<%= asset_path('social-media-icons.png') %>" />
        </div>
        <a href="http://www.reddit-clone-277.com">Live</a>
      </div>

      <div class='project-modal' id='reddit-modal'>
        <div class="non-embedded">
            <a href="#close" title='Close' class='close'>&times</a>
            <img class="project-img" src="<%= asset_path('reddit-clone.png') %>" />
        </div>
      </div>
    </section> <!-- left-side -->


    <section class='right-side '>
      <ul class='features'>
        <li>Can create, update, and destroy user, subreddits, post or comment</li>
        <li>Can votes on subreddit, post and comment</li>
        <li>Automatically scrap an thumbnail image from submitted link</li>
        <li>Hand roll user authentication using BCrypt library</li>
        <li>Store pre-fetched comment to prevent N+1 comments query</li>
        <li>Customized recursive JSON builder partial to nest comments</li>
        <li>Utilized polymorphic association to link votes to multiple models</li>
        <li>Multi-model search enabled using pg-search</li>
        <li>Allow live chat lobby in sub reddits index page using Pusher gem</li>
        <li>Enabled post geolocation tagging using geocder gem</li>
      </ul>
    </section>  <!-- right-side -->
  </section> <!-- one project end -->

  <section class='project-container clearfix'>
    <section class='right-side left-line'>
      <h3><a href="#"><strong>Asteroid</strong></a></h3>

      <div class='image-container'>
          <img class="project-img small" src="<%= asset_path('asteroid.png') %>" />
          <a href="#asteroid-modal" class='image-info hidden'>
            <span>Click to play!</span>
          </a>
      </div>
      <p class='description'>
        Remake of the 90s classic Atari game Asteroid, utilizing javascript and canvas element
      </p>
      <div class='project-links clearfix'>
        <div class='icon-container-heroku'>
          <img class='github-icon-heroku icon' src="<%= asset_path('social-media-icons.png') %>" />
        </div>
        <a href="https://github.com/TNHuang/Asteroids">github</a>
      </div>
      <div class='project-links clearfix'>
        <div class='icon-container-heroku'>
          <img class='live-icon-heroku icon' src="<%= asset_path('social-media-icons.png') %>" />
        </div>
        <a href="#asteroid-modal" class="open-live">Live</a>
      </div>

      <div class='project-modal' id='asteroid-modal'>
        <div>
            <a href="#close" title='Close' class='close'>&times</a>
              <div id="asteroids-game">
                <%= render "games/asteroids" %>
              </div>
        </div>
      </div>
    </section>


    <section class='left-side'>
      <ul class='features'>
        <li>Customized WASD key binding to move ship in four cardinal directions</li>
        <li>Keybind spacebar to fire bullet for destroying asteroids</li>
        <li>Player must avoid crashing into asteroid by either dodging or shooting</li>
        <li>Bullet, ship and asteroid all inheirt from moving object class</li>
        <li>Heavy use of javascript prototype inheritance. Utilize surrogate class to avoid instantiate parent class</li>
        <li>Rendering the battlefield in the canvas element</li>
        <li>New feature! ship now can follow cursor around, left click now trigger fire</li>
        <li>Upcoming feature: enable live multi player mode using Pusher gem</li>

      </ul>
    </section>  <!-- right-side -->
  </section> <!-- one project end -->


  <section class='project-container clearfix'>
    <section class='left-side '>
      <h3><a href="http://www.reddit-clone-277.com"><strong>Trello Clone</strong></a></h3>

      <div class='image-container'>
          <img class="project-img small" src="<%= asset_path('trelloClone.png') %>" />
          <a href="#trello-modal" class='image-info hidden'>
            <span>Click for larger size</span>
          </a>
      </div>
      <p class='description'>
        Clone of the popular projects management website, Trello. Complete with drag and drop project lists and cards
      </p>
      <div class='project-links clearfix'>
        <div class='icon-container-heroku'>
          <img class='github-icon-heroku icon' src="<%= asset_path('social-media-icons.png') %>" />
        </div>
        <a href="https://github.com/TNHuang/TrelloClone">github</a>
      </div>
      <div class='project-links clearfix'>
        <div class='icon-container-heroku'>
          <img class='live-icon-heroku icon' src="<%= asset_path('social-media-icons.png') %>" />
        </div>
        <a href="http://www.kenny-trello.website/">Live</a>
      </div>

      <div class='project-modal' id='trello-modal'>
        <div class="non-embedded">
            <a href="#close" title='Close' class='close'>&times</a>

            <img class="project-img" src="<%= asset_path('trelloClone.png') %>" />
        </div>
      </div>
    </section> <!-- left-side -->
    <section class='right-side left-line'>
      <ul class='features'>
        <li>Entirely single page website that utilize client rendering, perfect for mobile user, where bandwidth is limited</li>
        <li>Viewing rendering using Backbone.js and utilize rails for back end database</li>
        <li>Delegate sub component rendering into subviews, such that change in the model only render the subview instead of re-render the entire collection</li>
        <li>Customized Swap view function to remove zombie views</li>
        <li>Overwrite default remove function to recursively remove any child subviews</li>
        <li>Utilize JQuery sortable to enable drag and drop of DOM element on the page</li>
        <li>Custom json builder to send board nested with multiple lists, which each list also nested with multiple cards</li>
        <li>Link lists/cards drag and drop event with custom Ajax PATCH request, such that cards preserve their sort-order when re-rendering</li>
        <li>Cards can be drag between two differents lists using JQuery receiver event</li>

      </ul>
    </section>  <!-- right-side -->
  </section> <!-- project end-->

  <section class='project-container clearfix'>
    <section class='right-side left-line'>
      <h3><a href="#"><strong>Snake <>>>>>:>~</strong></a></h3>

      <div class='image-container'>
          <img class="project-img small" src="<%= asset_path('snake.png') %>" />
          <a href="#snake-modal" class='image-info hidden'>
            <span>Click to play</span>
          </a>
      </div>
      <p class='description'>
        Clone of the classic snake game, using javascript and rendering using html list element
      </p>
      <div class='project-links clearfix'>
        <div class='icon-container-heroku'>
          <img class='github-icon-heroku icon' src="<%= asset_path('social-media-icons.png') %>" />
        </div>
        <a href="https://github.com/TNHuang/JQuery-Snake">github</a>
      </div>
      <div class='project-links clearfix'>
        <div class='icon-container-heroku'>
          <img class='live-icon-heroku icon' src="<%= asset_path('social-media-icons.png') %>" />
        </div>
        <a href="#snake-modal" class='open-live'>Live</a>
      </div>

      <div class='project-modal' id='snake-modal'>
        <div class="snake-game">
            <a href="#close" title='Close' class='close'>&times</a>
              <%= render "games/snake" %>

        </div>
      </div>
    </section>

    <section class='left-side'>
      <ul class='features'>
        <li>Custom keybinding allow snake to move via arrow keys instead of terminal command</li>
        <li>Apple randomly seeded onto the board as power up</li>
        <li>When snake ate an apple, snake grow three additional segments</li>
        <li>Keep track of high score and has a button allow game reset after defeat</li>
        <li>Grid re-render utilizing swapping css class instead of modify css attribute directly</li>
      </ul>
    </section>  <!-- right-side -->
  </section> <!-- one project end -->

  <section class='project-container clearfix'>
    <section class='left-side right-line'>
      <h3><a href="#"><strong>Chess ♞</strong></a></h3>

      <div class='image-container'>
          <img class="project-img small" src="<%= asset_path('chess.png') %>" />
          <a href="#chess-modal" class='image-info hidden'>
            <span>Click for larger size</span>
          </a>
      </div>
      <p class='description'>
        Chess game program using Ruby. Playable in Ruby terminal by inputting 4 digits number representing the start and end coordinate of your move.
      </p>
      <div class='project-links clearfix'>
        <div class='icon-container-heroku'>
          <img class='github-icon-heroku icon' src="<%= asset_path('social-media-icons.png') %>" />
        </div>
        <a href="https://github.com/TNHuang/W2d2-chess">github</a>
      </div>
      <div class='project-links clearfix'>
        <div class='icon-container-heroku'>
          <img class='live-icon-heroku icon' src="<%= asset_path('social-media-icons.png') %>" />
        </div>
        <a id='contact' href="#">not yet Live :(</a>
      </div>
      <!-- put contact id here so link position scroll to the correct position -->
      <div class='project-modal' id='chess-modal'>
        <div class="non-embedded">
            <a href="#close" title='Close' class='close'>&times</a>
            <img class="project-img medium" src="<%= asset_path('chess.png') %>" />
        </div>
      </div>
    </section> <!-- left-side -->
    <section class='right-side '>
      <ul class='features'>
        <li>Using unicode character to rendering piece onto ruby terminal</li>
        <li>Move is administer via entering 4 digits number representing starting and ending coordinate</li>
        <li>Support standard checkmate and check, pawn promotion</li>
        <li>Can save game state for later replay</li>
        <li>Upcoming! Features: En Passant, Castling</li>
      </ul>
    </section>  <!-- right-side -->
  </section> <!-- project end-->

  <section class='project-container clearfix email' >
    <h1 class='center-align'>Contact ☏</h1>

    <h3 class='center-align'>Send me an email if you want to build your idea!</h3>

    <div class='email-container '>
        <form class="email-form" action="/mail" method="POST">

          <input type="text" name="sender_name" value="" class="input" placeholder="Name">
          <input type="text" name="sender_email" value="" class="input" placeholder="Email">

          <textarea name="message" rows="8" cols="40" placeholder="Message" class='input message'></textarea>
          <%= form_auth %>
          <div class='buttons-container'>
            <input type="submit" value="Send Message" class='form-button'>
            <button class='form-button clear-message'>Clear Form</button>
          </div>
        </form>

    </div>

    <p >
      <h3>..Or contact me through the following:</h3>
      <div class='project-links clearfix'>
        <div class='icon-container-heroku'>
          <img class='github-icon-heroku icon' src="<%= asset_path('social-media-icons.png') %>" />
        </div>
        <a href="https://github.com/TNHuang/">Github: https://github.com/TNHuang</a>
      </div>
      <div class='project-links clearfix'>
        <div class='icon-container-heroku'>
          <img class='linkedin-icon-heroku icon' src="<%= asset_path('social-media-icons.png') %>" />
        </div>
        <a  href="https://www.linkedin.com/pub/tai-neng-huang/a8/54b/3">Linkedin: https://www.linkedin.com/pub/tai-neng-huang/a8/54b/3</a>
      </div>
      <div class='project-links clearfix'>
        <div class='icon-container-heroku'>
          <img class='phone-icon-heroku icon' src="<%= asset_path('social-media-icons.png') %>" />
        </div>
        <a >Mobile: 1(516)-589-1469</a>
      </div>
      <div class='project-links clearfix'>
        <div class='icon-container-heroku'>
          <img class='email-icon-heroku icon' src="<%= asset_path('social-media-icons.png') %>" />
        </div>
        <a>Email: khuangtai@gmail.com</a>
      </div>
      <div class='project-links clearfix'>
        <div class='icon-container-heroku'>
          <img class='map-icon-heroku icon' src="<%= asset_path('social-media-icons.png') %>" />
        </div>
        <a>Address: 8330 118th St Apt# 4A NY 11415</a>
      </div>

    </p>

  </section>

  <section class='project-container clearfix' id="resume" >
      <div class='project-links clearfix'>
        <a href="https://docs.google.com/document/d/1nAn6slQp-Y6om-zmIYBa-BmBIDeU84MaQigRDvsUie4/edit?usp=sharing">Link to full resume google doc</a>
      </div>

  </section>
  <section class='project-container' id="experience">
    <h3>Experience</h3>
    <h4>Intership: New York Department of Information Technology and Technoly 2013 Fall</h4>
    <p>
      Perform SQL search on public available mass data. <br>
      Create data flow chart to map out relation between different tables. <br>
      Created VBA scripts to automate repetitive tasks such as parsing pdf report, constructing data flow chart.<br>
      Perform website testing to ensure minimum error pass through production.
    </p>
    <h4>Operation Support: Pacific Delights Tours 2011-2012</h4>
    <p>
      Verify accounting detail, ensure there is no discrepancy when between database value and paper document.<br>
      Perform customer support, provide customer with potential vacation package that fits his need and budget.<br>
      Customize AutoHotkey macro to automate repetitive tasks such as data entry and report making.<br>
      Created custom VBA script to parse Excel spreadsheet to summarize contracts data.
    </p>
    <h4>Research Assistant: Cornell University 2011</h4>
    <p>
      Researching on surface bounded vortice between tandem cylinders. <br>
      Conduct CFD analysis using conformal mapping and verify result in wind tunnel experiment.<br>
      Integrate conformal map scheme with convex optimization to determine optimal aerofoil design configuration.<br>
      Create aerofoil prototype and test it in wind tunnel to verify simulation result.
    </p>
  </section>

  <section class='project-container' id="education">
    <h3>Education</h3>
    <h4>MA Aerospace Engineering:  Cornell University 2011, 3.2 GPA</h4>
    <p>
      Coursework: Differential Equation, Linear Algebra, Finite Element Analysis, Computational Fluid Dynamic, Autonomous Robot Navigation.
    </p>
    <h4>App Academ: New York 2014</h4>
    <p>
  	Full-stack web development course, acceptance rate < 5%.
    </p>

  </section>

</div>
<script>
  $(function () {

    currentY = 0;
    $('.clear-message').on('click', function(event){
      event.preventDefault();
      $(".input").val("");
    });

    $(".image-container, .open-live").click(function(event){
      currentY = $(window).scrollTop();
      if ( $(".main").hasClass('fixed') === false){
        $(".main").addClass('fixed');
      }

    });
    $(".close, .container > li").click( function(event){
      $(".main").removeClass('fixed');
      $('body, html').scrollTop(currentY);
    });


  });
</script>
