<div class='main'>
  <section class="title-container clearfix">
    <div class='pic-container'>
      <img src="<%= asset_path('kenny-huang.png') %>" class='my-face'/>
    </div>
    <section class="name-container">
      <h1 class='my-name'>KENNY HUANG</h1>
      <h4 class='by-line'>Rails/Backbone Web Developer</h4>
      <h6 class='by-line'>
      Github: https://github.com/TNHuang<br>
      Email: khuangtai@gmail.com<br>
      Mobile: 1(516)-589-1469<br>
      Address: 8330 118th St Apt# 4A NY 11415</h6>

    </section>

  </section>


  <article id="about">
    <h3 class="title">About me</h3>
    <p>
      Hi, I'm Kenny Huang, a web developer in New York
      with background in Aerospace Engineering. <br>
      Whether it's a rocket or a website, I'll make sure it gets launch without a hitch!
      Currently looking for web development work.
    </p>
    <p>
      My primay skills includes Ruby, Rails, Javascript, Backbone.js, Jquery, Git, RSpec, SQL, HTML,
CSS, TDD, CSS, Node.js.<br>
      I have done several projects using rails and several projects using Javascript.
      It was a pretty interesting experience combining both rails and backbone to create a one page website.
      You should check these <strong><a href="#projcets">projects</a></strong> out!
    </p>
    <p>
      I have interest in programming automous robotic navigation, space exploration and convex optimization.
      <!-- write more about your interests and remember to proof read the whole page -->
    </p>
  </article>

  <h3 class='title' id="projects">Projects</h3>
  <section class='project-container clearfix'>
    <section class='left-side'>
      <h3><a href="http://www.reddit-clone-277.com"><strong>Reddit Clone</strong></a></h3>

      <div class='image-container'>
          <img class="project-img small" src="<%= asset_path('reddit-clone.png') %>" />
          <a href="#reddit-modal" class='image-info hidden'>
            <span>Click for larger size</span>
          </a>
      </div>
      <p class='description'>
        A reddit clone with live chat and geo location tagging build in. Built with Rails, and Backbone.js
      </p>

      <div class='project-links clearfix'>
        <div class='icon-container-heroku'>
          <img class='github-icon-heroku icon' src="<%= asset_path('social-media-icons.png') %>" />
        </div>
        <a href="https://github.com/TNHuang/Final-Project-Reddit-Clone">github</a>
      </div>

      <div class='project-links clearfix'>
        <div class='icon-container-heroku'>
          <img class='live-icon-heroku icon' src="<%= asset_path('social-media-icons.png') %>" />
        </div>
        <a href="http://www.reddit-clone-277.com">Live</a>
      </div>

      <div class='project-modal' id='reddit-modal'>
        <div>
            <a href="#close" title='Close' class='close'>&times</a>
            <img class="project-img" src="<%= asset_path('reddit-clone.png') %>" />
        </div>
      </div>
    </section> <!-- left-side -->


    <section class='right-side left-line'>
      <ul class='features'>
        <li>Can create, update, and destroy user, subreddits, post or comment</li>
        <li>Can votes on subreddit, post and comment</li>
        <li>Automatically scrap an thumbnail image from a submitted link</li>
        <li>Hand roll user authentication using BCrypt library</li>
        <li>Pre-fetched comments to prevent N+1 query when rendering post comments</li>
        <li>Customized recursive JSON builder partial to orangize nested comments</li>
        <li>Utilized polymorphic assoication to extend a single vote table to associate votes to either subreddit, post, or comment</li>
        <li>Multi-model search enabled using pg-search</li>
        <li>Allow live chat lobby in sub reddits index page using Pusher gem</li>
        <li>Integrate geolcation tagging with post utilize geocoder</li>
      </ul>
    </section>  <!-- right-side -->
  </section> <!-- one project end -->

  <section class='project-container clearfix'>
    <section class='right-side left-line'>
      <h3><a href="#"><strong>Asteroid</strong></a></h3>

      <div class='image-container'>
          <img class="project-img small" src="https://31.media.tumblr.com/70f4550c1d405782e000866bb329ed66/tumblr_inline_ndewoueXU81smaldr.png" />
          <a href="#asteroid-modal" class='image-info hidden'>
            <span>Click for larger size</span>
          </a>
      </div>
      <p class='description'>
        Remake of the 90s classic Atari game Asteroid, utilizing javascript and canvas element
      </p>
      <div class='project-links clearfix'>
        <div class='icon-container-heroku'>
          <img class='github-icon-heroku icon' src="<%= asset_path('social-media-icons.png') %>" />
        </div>
        <a href="https://github.com/TNHuang/w6d1">github</a>
      </div>
      <div class='project-links clearfix'>
        <div class='icon-container-heroku'>
          <img class='live-icon-heroku icon' src="<%= asset_path('social-media-icons.png') %>" />
        </div>
        <a href="#">no yet Live :(</a>
      </div>

      <div class='project-modal' id='asteroid-modal'>
        <div>
            <a href="#close" title='Close' class='close'>&times</a>
            <img class="project-img medium" src="https://31.media.tumblr.com/70f4550c1d405782e000866bb329ed66/tumblr_inline_ndewoueXU81smaldr.png" />
        </div>
      </div>
    </section>


    <section class='left-side'>
      <ul class='features'>
        <li>Player control a ship that move and shoot bullet</li>
        <li>Bullet can collide with asteroid and destroy them</li>
        <li>Player must avoid getting hit by the asteroid</li>
        <li>Ship control is map with arrow key event</li>
        <li>rendering in canvas element</li>
        <li>upcoming feature: enable multi player mode using Node.sj/Pusher</li>

      </ul>
    </section>  <!-- right-side -->
  </section> <!-- one project end -->


  <section class='project-container clearfix'>
    <section class='left-side right-line'>
      <h3><a href="http://www.reddit-clone-277.com"><strong>Trello Clone</strong></a></h3>

      <div class='image-container'>
          <img class="project-img small" src="<%= asset_path('trelloClone.png') %>" />
          <a href="#trello-modal" class='image-info hidden'>
            <span>Click for larger size</span>
          </a>
      </div>
      <p class='description'>
        Cloning of the popular project management website with drag and drop project list and card.
      </p>
      <div class='project-links clearfix'>
        <div class='icon-container-heroku'>
          <img class='github-icon-heroku icon' src="<%= asset_path('social-media-icons.png') %>" />
        </div>
        <a href="https://github.com/TNHuang/TrelloClone">github</a>
      </div>
      <div class='project-links clearfix'>
        <div class='icon-container-heroku'>
          <img class='live-icon-heroku icon' src="<%= asset_path('social-media-icons.png') %>" />
        </div>
        <a href="#">not yet Live!</a>
      </div>

      <div class='project-modal' id='trello-modal'>
        <div>
            <a href="#close" title='Close' class='close'>&times</a>
            <img class="project-img" src="<%= asset_path('trelloClone.png') %>" />
        </div>
      </div>
    </section> <!-- left-side -->
    <section class='right-side '>
      <ul class='features'>
        <li>Can create, destroy, update board, list and card</li>
        <li>Board has many list, and each list has many cards</li>
        <li>Utilized Jquery Sortable Plugin to enable drag and drop on cards</li>
        <li>Drag and drop card event send Ajax request to server to update list and card sorting order</li>
      </ul>
    </section>  <!-- right-side -->
  </section> <!-- project end-->

  <section class='project-container clearfix'>
    <section class='right-side left-line'>
      <h3><a href="#"><strong>Snake <>>>>>:>~</strong></a></h3>

      <div class='image-container'>
          <img class="project-img small" src="<%= asset_path('snake.png') %>" />
          <a href="#snake-modal" class='image-info hidden'>
            <span>Click for larger size</span>
          </a>
      </div>
      <p class='description'>
        The popular TI-83 game, Snake, made using javascript and render using html
      </p>
      <div class='project-links clearfix'>
        <div class='icon-container-heroku'>
          <img class='github-icon-heroku icon' src="<%= asset_path('social-media-icons.png') %>" />
        </div>
        <a href="https://github.com/TNHuang/JQuery-Snake">github</a>
      </div>
      <div class='project-links clearfix'>
        <div class='icon-container-heroku'>
          <img class='live-icon-heroku icon' src="<%= asset_path('social-media-icons.png') %>" />
        </div>
        <a href="#">not yet Live :(</a>
      </div>

      <div class='project-modal' id='snake-modal'>
        <div>
            <a href="#close" title='Close' class='close'>&times</a>
            <img class="project-img medium" src="<%= asset_path('snake.png') %>" />
        </div>
      </div>
    </section>

    <section class='left-side'>
      <ul class='features'>
        <li>Player control a snake using arrow key</li>
        <li>Snake cannot go out of bound and not intersecting itself</li>
        <li>Apple randomly pop into the board in empty square</li>
        <li>When snake eats an apple, it will grow by three segements</li>
        <li>Programed entirely in javascript</li>
        <li>Render using html and Jquery swap class method</li>
      </ul>
    </section>  <!-- right-side -->
  </section> <!-- one project end -->

  <section class='project-container clearfix'>
    <section class='left-side right-line'>
      <h3><a href="#"><strong>Chess ♞</strong></a></h3>

      <div class='image-container'>
          <img class="project-img small" src="<%= asset_path('chess.png') %>" />
          <a href="#chess-modal" class='image-info hidden'>
            <span>Click for larger size</span>
          </a>
      </div>
      <p class='description'>
        Chess game program in ruby and play from the ruby terminal
      </p>
      <div class='project-links clearfix'>
        <div class='icon-container-heroku'>
          <img class='github-icon-heroku icon' src="<%= asset_path('social-media-icons.png') %>" />
        </div>
        <a href="https://github.com/TNHuang/W2d2-chess">github</a>
      </div>
      <div class='project-links clearfix'>
        <div class='icon-container-heroku'>
          <img class='live-icon-heroku icon' src="<%= asset_path('social-media-icons.png') %>" />
        </div>
        <a id='contact' href="#">not yet Live :(</a>
      </div>
      <!-- put contact id here so link position scroll to the correct position -->
      <div class='project-modal' id='chess-modal'>
        <div>
            <a href="#close" title='Close' class='close'>&times</a>
            <img class="project-img medium" src="<%= asset_path('chess.png') %>" />
        </div>
      </div>
    </section> <!-- left-side -->
    <section class='right-side '>
      <ul class='features'>
        <li>Render the piece on a terminal display using unicode</li>
        <li>each piece is move via enter startcoordinate and endcoordinate in a sequence of 4 number</li>
        <li>possessed turn check to prevent wrong player from taking turn</li>
        <li>Check and checkmate is automatically determine for player</li>
      </ul>
    </section>  <!-- right-side -->
  </section> <!-- project end-->

  <section class='project-container clearfix email' >
    <h1 class='center-align'>Contact ☏</h1>

    <h3 class='center-align'>Send me an email if you want to build your idea!</h3>

    <div class='email-container '>
        <form class="email-form" action="/mail" method="POST">

          <input type="text" name="sender_name" value="" class="input" placeholder="Name">
          <input type="text" name="sender_email" value="" class="input" placeholder="Email">

          <textarea name="message" rows="8" cols="40" placeholder="Message" class='input message'></textarea>
          <%= form_auth %>
          <div class='buttons-container'>
            <input type="submit" value="Send Message" class='form-button'>
            <button class='form-button clear-message'>Clear Form</button>
          </div>
        </form>


    </div>
    <div class='map-container'>

      <img src="https://maps.googleapis.com/maps/api/staticmap?&zoom=13&size=200x200&sensor=false&markers=40.706159%2C-73.835001&key=<%= ENV['GOOGLEMAP_API'] %>" alt="" />
    </div>
    <p >
      <div class='project-links clearfix'>
        <div class='icon-container-heroku'>
          <img class='github-icon-heroku icon' src="<%= asset_path('social-media-icons.png') %>" />
        </div>
        <a href="https://github.com/TNHuang/">Github: https://github.com/TNHuang</a>
      </div>
      <div class='project-links clearfix'>
        <div class='icon-container-heroku'>
          <img class='linkedin-icon-heroku icon' src="<%= asset_path('social-media-icons.png') %>" />
        </div>
        <a  href="#">Linkedin => not updated yet :(</a>
      </div>
      <div class='project-links clearfix'>
        <div class='icon-container-heroku'>
          <img class='phone-icon-heroku icon' src="<%= asset_path('social-media-icons.png') %>" />
        </div>
        <a >Mobile: 1(516)-589-1469</a>
      </div>
      <div class='project-links clearfix'>
        <div class='icon-container-heroku'>
          <img class='email-icon-heroku icon' src="<%= asset_path('social-media-icons.png') %>" />
        </div>
        <a>Email: khuangtai@gmail.com</a>
      </div>
      <div class='project-links clearfix'>
        <div class='icon-container-heroku'>
          <img class='map-icon-heroku icon' src="<%= asset_path('social-media-icons.png') %>" />
        </div>
        <a>Address: 8330 118th St Apt# 4A NY 11415</a>
      </div>

    </p>

  </section>

  <section class='project-container' id="resume" >
    Resume => add link to google document later
  </section>
  <section class='project-container' id="experience">
    <h3>Experience</h3>
    <h4>Research Assistant: Cornell University 2011</h4>
    <p>
    Reseaching on surface bounded vortice between tandem cylinders.
    Conduct CFD analysis using conformal mapping and verify result in wind tunnel experiment.
    Integrate conformal map scheme with convex optimzation to determine optimal aerofoil design.
    Create prototype and conduct wind tunnel test to verify simulation validity.
    </p>
    <h4>Operation Support: Pacific Delights Tours 2011-2012</h4>
    <p>
    Verify payment transcations, ensure minimum delay in payment scheduling from either vendor or cusomter.
    Succeed in reducing payment delay by up to 20%.
    Transfering data from old database to new database. Customized AutoHotkey macro to automated repetitve task.
    Succeed in boost team productivity by 20%.
    Constructing
    </p>
    <h4>Intership: New York Department of Information and Technoly 2013 Fall</h4>
    Perform SQL search on aggerated population data.
    Constructing data flow chart, using microsoft visio, to determine bottleneck within in the system.
    Created custom vba script to automate data flow chat contruction.
    Conudct quality assurance test on company website.
    Assist in creating automated report creation system. Create report base on database information.
    Assist in creating automated report prase report. Parse report using VBA then transfer relevant data back into database.
  </section>

  <section class='project-container' id="education">
    <h3>Education</h3>
    <h4>MA Aerospace Engineering:  Cornell University 2011, 3.2 GPA</h4>
    <p>
      Coursework: Differential Equation, Linear Algebra, Finite Element Analysis, Computional Fluid Dynamic, Automonous Robot Navigation.
    </p>
    <h4>App Academ: New York 2014</h4>
    <p>
  	Full-stack web development course, acceptance rate < 5%
    </p>

  </section>

</div>
<script>
  $(function () {
    $('.clear-message').on('click', function(event){
      event.preventDefault();
      $(".input").val("");
    });
  });
</script>
