<!DOCTYPE html>
<html>
<head>
  <title>Kenny Huang's Homepage</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <%= csrf_meta_tags %>




</head>
<body>

<nav id="nav">
  <ul class="container  clearfix ">
    <li><a href="#about">About Me</a></li>
    <li><a href="#resume">Resume</a></li>
    <li><a href="#projects">Projects</a></li>
    <li><a href="#experience">Experience</a></li>
    <li><a href="#contact">Contacts</a></li>
    <!-- <li><img src="<%= asset_path('social-media-icons.png') %>" style="opacity:0.8"></li> -->
  </ul>


</nav>

<%= yield %>


  <script>
    $(document).ready(function(){
      var projectsCount = 5;
      var currentIndex = -1;
      var carrousel = $('#carrousel');
      var panesHolder = carrousel.find("> ul");
      var panes = panesHolder.find("> li");
      var paneWidth = panes.first().width();

      panesHolder.css({ "width": (panes.length * paneWidth) + "px" });


      $('.next').on("click", function(){
        currentIndex += 1;
        if (currentIndex === projectsCount ){
            currentIndex = 0;
        }
        move();
      });


      $('.previous').on("click", function(){
        currentIndex -= 1;
        if (currentIndex < 0){
            currentIndex = panes.length - 1;
        }
        move();
      });

      var move = function(){
        var numLabel = (currentIndex + 1) + " / " + projectsCount;
        $(".number").html(numLabel);

        var leftPos = currentIndex * paneWidth * -1

        panesHolder.animate({"left": leftPos + "px"}, 1000);
      }
    });
  </script>
</body>
</html>
