<!DOCTYPE html>
<html>
<head>
  <title>Kenny Huang's Homepage</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <%= csrf_meta_tags %>




</head>
<body>

<nav id="nav">
  <ul class="container  clearfix ">
    <li><a href="#about">About Me</a></li>
    <li><a href="#resume">Resume</a></li>
    <li><a href="#projects">Projects</a></li>
    <li><a href="#experience">Experience</a></li>
    <li><a href="#contact">Contacts</a></li>
    <% if flash[:notice] %>
    <li class="notice">
        <%= flash[:notice] %>
    </li>
    <% end %>

    <!-- <li><img src="<%= asset_path('social-media-icons.png') %>" style="opacity:0.8"></li> -->
  </ul>
  <script>
    $(function() {
      setTimeout(function(){
      $('.notice').slideUp(500);
      }, 1000);
     });
  </script>
</nav>

<%= yield %>



</body>
</html>
